<h1>Product-groups list</h1>

<p>
  {{link-to "New Product-group" "product-groups.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Products
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |product-group|}}
        <tr>
          <td>
            {{product-group.name}}
          </td>
          <td>
            {{product-group.products}}
          </td>
          <td>
            {{link-to "Edit" "product-groups.edit" product-group}}
          </td>
          <td>
            {{link-to "Show" "product-groups.show" product-group}}
          </td>
          <td>
            <a href="#" {{action "remove" product-group}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Product-groups found
  </p>
{{/if}}
