<p>
  {{link-to "Product-group list" "product-groups.index" }}
</p>

<h1>Product-group show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Products:</strong>
  <span>{{model.products}}</span>
</p>

