<form class="ui form" {{action "save" on="submit"}}>
  <div class="field">
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>

  <div class="three fields">

      <div class="field">
        <label>
          Price
          {{input type="text" value=model.priceCents}}
        </label>
      </div>
      <div class="field">
        <label>
          Profit Margin
          {{input type="text" value=model.marginCents}}
        </label>
      </div>
     <div class="field">
        <label>
          Sales Comission
          {{input type="text" value=model.comission}}
        </label>
      </div>

  </div>    
  <div class="field">
    <label>
      Expiration
      {{input type="text" value=model.expiration}}
    </label>
  </div>

<div class="fields">
    <div class="field">
             <label> &nbsp; </label>
        <div class="ui checked checkbox">
          <input type="checkbox" checked="">
          <label>Track Stock</label>
      </div>
    </div>
    <div class="field">
      <label>
        Stock amount
        {{input type="text" value=model.stockAmount}}
      </label>
    </div>

</div>

  <div>
    <input class="ui primary button" type="submit" value="Save">
  </div>
</form>
