

<div class="ui divider"/>


<div class="ui secondary  menu">


<div class="left menu">
    <div class="item">
      <div class="ui large header">Product list</div>
    </div>
</div>    

 <div class="right menu">
    <div class="item">

     {{#link-to "products.new" tagName="button" class="ui primary button"}}New Product{{/link-to }} 

    </div>

    <div class="item">
      {{#ui-dropdown class="selection" onChange=(action 'updateList')}}
        <div class="text">Filter By Brand</div>
        <i class="dropdown icon"></i>
        <div class="menu">
        {{#each model.brands as |brand|}}
          <div class="item" data-id="{{brand.name}}">
            {{brand.name}}
          </div>
        {{/each}}
        </div>
      {{/ui-dropdown}}
  </div>

</div>  
</div>



{{#if model.products.length}}
  <table class="ui celled table" >
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Price
        </th>
        <th>
          Profit Margin
        </th>
        <th>
          Sales Commission
        </th>
        <th>
          Expiration Date
        </th>
        <th>
          Track stock
        </th>
        <th>
          Stock amount
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model.products as |product|}}
        <tr>
          <td>
            {{product.name}}
          </td>
          <td>
            {{ product.formattedPrice }}
          </td>
          <td>
            {{product.marginCents}}
          </td>
          <td>
            {{product.commission}}
          </td>
          <td>
            {{product.expiration}}
          </td>
          <td>
            {{product.trackStock}}
          </td>
          <td>
            {{product.stockAmount}}
          </td>
          <td>
            {{link-to "Edit" "products.edit" product}}
          </td>
          <td>
            {{link-to "Show" "products.show" product}}
          </td>
          <td>
            <a href="#" {{action "remove" product}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Products found
  </p>
{{/if}}



<div class="ui divider"/>

<div class="ui right pagination menu">
  <a class="active item">
    1
  </a>
  <a class="item">
    2
  </a>
  <a class="item">
    3
  </a>
</div>
