
<div class="ui divider"/>
<div>
	 {{#link-to "products.index" tagName="button" class="ui button"}}
	  <i class="left arrow icon"></i>
		  Back
	  {{/link-to }}
</div>
<h1>New Product:</h1>
{{partial "products/form"}}
