<p>
  {{link-to "Product list" "products.index" }}
</p>

<h1>Product show</h1>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Price cents:</strong>
  <span>{{model.priceCents}}</span>
</p>

<p>
  <strong>Margin cents:</strong>
  <span>{{model.marginCents}}</span>
</p>

<p>
  <strong>Comission:</strong>
  <span>{{model.comission}}</span>
</p>

<p>
  <strong>Expiration:</strong>
  <span>{{model.expiration}}</span>
</p>

<p>
  <strong>Track stock:</strong>
  <span>{{model.trackStock}}</span>
</p>

<p>
  <strong>Stock amount:</strong>
  <span>{{model.stockAmount}}</span>
</p>

