

<div class="ui container">

	<div class="ui divider hidden"/>

	<div class="ui huge header">Product Catalog Example App</div>

	<div class="ui divider hidden"/>
	<div class="ui divider hidden"/>

{{outlet}}

</div>
