<h1>Brands list</h1>

<p>
  {{link-to "New Brand" "brands.new" }}
</p>

{{#if model.length}}
  <table>
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th colspan="3">
          Actions
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |brand|}}
        <tr>
          <td>
            {{brand.name}}
          </td>
          <td>
            {{link-to "Edit" "brands.edit" brand}}
          </td>
          <td>
            {{link-to "Show" "brands.show" brand}}
          </td>
          <td>
            <a href="#" {{action "remove" brand}}>Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p id="blankslate">
    No Brands found
  </p>
{{/if}}
